@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply font-primary;
}

.button-primary {
  @apply rounded-lg bg-primary px-10 py-5  text-md text-gray-100 duration-200 hover:bg-primary-lighter md:px-20;
}
.button-secondary {
  @apply rounded-lg bg-secondary px-10 py-5 text-md text-gray-100 duration-200 hover:bg-secondary-light md:px-20;
}

.dark-active-link {
  @apply text-primary-extra-lighter;
}

.light-active-link {
  @apply text-primary-light;
}

li > a {
  @apply duration-200 hover:opacity-60;
}

h2 {
  @apply mx-auto w-fit border-b-[3px] border-primary text-2xl text-primary md:text-4xl;
}
