@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  @apply w-full max-w-[100vw] overflow-hidden font-primary;
}

.button-primary {
  @apply rounded-lg bg-primary px-20  py-5 text-md text-gray-100 duration-200 hover:bg-primary-lighter;
}
.button-secondary {
  @apply rounded-lg bg-secondary px-20 py-5 text-md text-gray-100 duration-200 hover:bg-secondary-light;
}

.dark-active-link {
  @apply text-primary-extra-lighter;
}

.light-active-link {
  @apply text-primary-light;
}

li > a {
  @apply duration-200 hover:opacity-60;
}
